.product-description-container {
    position: relative;
  }
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;

}
  
  .product-image img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 400px;
  }
  
  .product-details {
    background-color: #f8f9fa;
    padding: 40px 0;
    border-radius: 8px;
  }
  
  .product-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .product-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  
  .product-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002766;
    margin-bottom: 20px;
  }
  .order-now-btn {
    background: linear-gradient(135deg, #00358b, #002766); 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .order-now-btn:hover{
    background: linear-gradient(135deg, #000, #000); 
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }

  .order-now-link{
    width: 100%;
  }
  
  .order-now-btn span{
    display: inline-block;
    position: relative;
  }
  
  .order-now-btn span::after{
    content: '→';
    margin-left: 8px;
    font-size: 16px;
    transition: margin-left 0.3s;
  }
  
  .order-now-btn:hover span::after{
    margin-left: 12px;
  }
  @media (max-width: 768px) {
    .product-image img {
      max-height: 300px;
    }
    
    .product-title {
      font-size: 1.5rem;
    }
    
    .product-description {
      font-size: 0.9rem;
    }
  
    .product-price {
      font-size: 1.2rem;
    }
  }
  